.cell {
  width: 5rem;
  height: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    position: absolute;
    font-size: 1.25rem;
  }
}

.figure {
  width: 5rem;
}

.white {
  background: #FFFEE5;

  & span {
    color: #5D90BF;
  }
}

.black {
  background: #5D90BF;

  & span {
    color: #FFFEE5;
  }
}

.letter {
  bottom: .25rem;
  right: .25rem;
}

.number {
  top: .25rem;
  left: .25rem;
}

.selected {
  background: #00000020 !important;
}

.indicator {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 555rem;
  background: #00000020;
}